.bottombar {
    border: 2px solid red;
    background-color: black;
    color: #f0dd0c;
    display: flex;
    justify-content: space-evenly;
    background-image: url("/images/black.jpg");
    background-repeat: no-repeat;
}
.text{
    border: 2px solid green;
    width: 31vw;
}
.text img{
    filter: invert(100%);
    height: 6vh;
    width: 17vh;
}
.links{
    border: 2px solid green;
}
.categories{
    border: 2px solid green;
}
.address{
    border: 2px solid green;
}
.bottombar li {
    list-style: none;
    color: white;
}
.bottombar p{
    color: white;
}

