#imgslider {
  
    animation-name: changeImage;
    animation-delay: 5s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
   

}

@keyframes changeImage {
    0% {
        background-image: url("/images/slide1.png");
    }

    25% {
        background-image: url("/images/slide2.png");

    }

    50% {
        background-image: url("/images/slide3.png");


    }

    75% {
        background-image: url("/images/slide4.png");

    }

    100% {
        background-image: url("/images/slide1.png");
    }
}

