
.container {
    /* border: 1px solid red; */
    background-color: white;
    width: 60%;
    height: 60vh;
    margin: 0vh auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.firstname {
    /* border: 1px solid plum; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 1.1rem;
}

.firstname input {
    width: 84%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
}

.lastname {
    /* border: 1px solid orange; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 1.1rem;

}

.lastname input {
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;

    width: 84%;
}

.phone {
    /* border: 1px solid purple; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 1.1rem;

}

.phone input {
    width: 79%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;

}

.payment {
    /* border: 1px solid pink; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 1.1rem;

}

.online {
    margin-right: 10vw;
    /* border: 1px solid purple; */

}

.address {
    /* border: 1px solid green; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-size: 1.1rem;

}

.address input {

    height: 2rem;
    width: 73%;
    border: 1px solid gray;

    border-radius: 5px;
}

.btns {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    /* border: 1px solid blue; */
}

#cancel {
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 0.2rem;
    border: none;
    width: 6rem;
    height: 2rem;
}

#confirm {
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    background-color: green;
    color: white;
    border-radius: 0.2rem;
    border: none;
    width: 6rem;
    height: 2rem;
}
/* .btn button {
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    background-color: green;
    color: white;
    border-radius: 0.2rem;
    border: none;
    width: 8rem;
    height: 2rem;
} */

/* .btn {
    display: flex;
    justify-content: center;
    margin: 2vh auto;
}
 */
