.categories {
    /* border: 2px solid red; */
    margin: -14vh auto;
    width: 100%;
    display: flex;
    background-color: white;
    height: 75vh;

}

.heading h2 {
    /* border: 2px solid red; */

    margin: 15vh auto;
    width: 95%;
    margin-top: 4vh;
    text-align: center;
}

.cards {
    /* border: 1px solid black; */
    display: flex;
    width: 30vh;
    height: 30vh;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: transform 1s;
    /* Animation */
    z-index: -1;
}

.cards:hover {
    transform: scale(1.1);
}

.cards h3 {
    font-weight: normal;
    color: black;
}

.link {
    text-decoration: none;
}



.cards img {
    height: 25vh;
    width: 25vh;
    margin: auto auto;
}

.cards iframe {
    height: 25vh;
    width: 25vh;
    margin: auto auto;
}


.cardgrid {
    display: grid;
    grid-template-columns: 15vh 15vh 15vh 15vh;
    grid-template-rows: 15vh 15vh;
    column-gap: 22vh;
    row-gap: 20vh;
    margin: auto auto;
    /* border: 2px solid red; */
    width: 100%;
    height: 65vh;
    justify-content: start;
    margin-left: 8.5vh;
}
@media (max-width: 980px){
    .cardgrid{
        column-gap: 17vh;
    }
}
@media (max-width: 890px){
    .cards{
        width: 25vh;
        height: 25vh;
    }
    .cards img{
        width: 20vh;
        height: 20vh;
        
    }
    .cards iframe{
        width: 20vh;
        height: 20vh;
        
    }
    .cards h3{
        font-size: 1rem;
    }
}
@media (max-width: 840px){
    .cardgrid{
        column-gap: 14vh;
    }
}
@media (max-width: 786px) {
    #stapler, #video{
        display: none;
    }
}
@media (max-width: 600px) {
    #toolbox, #blower{
        display: none;
    }
 
}
@media (max-width: 423px) {
    #compressor, #grinder{
        display: none;
    }
    .cards{
        margin: 0px 30px;
    }
 
}

