.banner {
    background-image: url("/images/black.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner h2 {
    color: white;
    font-size: 2.7rem;

}

.categories {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
}

.cards {
    /* border: 1px solid black; */
    display: flex;
    width: 55vh;
    height: 55vh;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 10vh;

}
.cards h3{
    font-size: 1.3rem;
}
.cards img{
    margin-top: 1vh;
    height: 38vh;
    width: 38vh;
}
.cards p{
    font-size: 1.4rem;
}

.cardgrid {
    display: grid;
    grid-template-columns: 15vh 15vh ;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
    column-gap: 60vh;
    row-gap: 46vh;
    margin: auto auto;
    /* border: 2px solid red; */
    width: 95%;
    height: 65vh;
    justify-content: start;
    margin-left: 5.5vh;
    margin-bottom: 300vh;

}
.btn{
    color: black;
    background-color: #F9E722;
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 16px;

}
.btn:hover{
    color: #F9E722;
    background-color: black;
}
@media (max-width: 955px){
    .cardgrid{
        column-gap: 50vh;
    }
}
@media (max-width: 885px){
    .cardgrid{
        column-gap: 45vh;
    }
}
@media (max-width: 835px){
    .cards{
        width: 50vh;
        height: 50vh;
    }
    .cards h3{
        font-size: 1.2rem;
    }
    .cards img{
        margin-top: 1vh;
        height: 33vh;
        width: 33vh;
    }
    .cards p{
        font-size: 1.3rem;
    }
}
@media (max-width: 810px){
    .cardgrid{
        column-gap: 37vh;
        row-gap: 40vh;
    }
}
@media (max-width: 765px){
    .cards{
        width: 45vh;
        height: 45vh;
    }
    .cards h3{
        font-size: 1.1rem;
    }
    .cards img{
        margin-top: 1vh;
        height: 28vh;
        width: 28vh;
    }
    .cards p{
        font-size: 1.2rem;
    }

}
@media (max-width: 716px){
    .cardgrid{
        column-gap: 33vh;
        row-gap: 35vh;
    }
}
@media (max-width: 686px){
    .cards{
        width: 40vh;
        height: 40vh;
    }
    .cards h3{
        font-size: 1rem;
    }
    .cards img{
        margin-top: 1vh;
        height: 23vh;
        width: 23vh;
    }
    .cards p{
        font-size: 1.1rem;
    }

}