.banner {
    background-image: url("/images/black.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner h2 {
    color: white;
    font-size: 2.7rem;

}

.categories {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
}

.cards {
    /* border: 1px solid black; */
    display: flex;
    width: 55vh;
    height: 55vh;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 10vh;

}
.cards h3{
    font-size: 1.3rem;
}
.cards img{
    margin-top: 1vh;
    height: 38vh;
    width: 38vh;
}
.cards p{
    font-size: 1.4rem;
}

.cardgrid {
    display: grid;
    grid-template-columns: 15vh 15vh ;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
    column-gap: 60vh;
    row-gap: 46vh;
    margin: auto auto;
    /* border: 2px solid red; */
    width: 95%;
    height: 65vh;
    justify-content: start;
    margin-left: 5.5vh;
    margin-bottom: 300vh;

}