.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 22vh auto;

}
.container img{
    width: 15rem;
    height: 7rem;
}
.btn{
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    background-color: #e3b212;
    color: white;
    border-radius: 0.2rem;
    border: none;
    width: 8rem;
    height: 2rem;
    margin-top: 2vh;
}