.items {
    margin: 2vh auto;
    width: 95%;
    background-color: white;
    height: 35vh;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}


.heading {
    margin: auto 4vw;
    width: 55vw;
    margin-left: 2.5vw;
    height: 20vh;
}

.heading h3 {
    font-size: 2rem;
}

.rateprice {
    font-size: 1.3rem;
}

.image img {
    width: 22vw;
    height: 30vh;
    margin-right: 2vw;
    margin-top: 2vh;
}

.button {
    color: black;
    background-color: #F9E722;
    margin-left: 39vw;
    width: 14vw;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 17px;
    font-weight: bold;


}

.button:hover {
    color: #F9E722;
    background-color: black;
}