.banner {

    background-image: url("/images/black.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.banner h2 {
    color: white;
    font-size: 2.7rem;
    margin-left: 5vw;
    width: 61vw;

}

.btn {
    margin-left: 5vw;
    margin-bottom: 3vh;
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    background-color: #e3b212;
    color: black;
    border-radius: 0.2rem;
    border: none;
    width: 5rem;
    height: 2rem;
}

