.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid red; */
    flex-direction: column;
}

.logo img {
    margin-top: -15vh;
    width: 13rem;
    height: 7rem;
}