.lowerbar {
    /* border: 2px solid blue; */
    display: flex;
    height: 8vh;
    background-color: #f0f3ff;


}

.lowerbar a {
    text-decoration: none;
}

.logobox {
    /* border: 2px solid green; */
    width: 50vw;
}

.searchbox {
    /* border: 2px solid yellow; */
    width: 30vw;
    margin-top: 6px;
}

.cartbox {
    /* border: 2px solid orange; */
    width: 21vw;
    margin-right: 21px;
    background-color: #f0f3ff;
    text-align: center;
    display: flex;
    align-items: baseline;
    margin-top: 5px;
    color: black;
    justify-content: space-around;
    align-items: center;
    height: 2.7rem;
    width: 11rem;
    border: none;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1rem;
    border-radius: 10px;

}

.cartbox:hover {
    background-color: gray;
    text-align: center;
}

.cartbox img {
    margin-top: 5px;
    margin-right: 31px;
}

.carttext {
    margin-left: 14px;
}

.logo {

    width: 170px;
    height: 43px;
    margin: -29px 63px;
}

.search {
    width: 27vw;
    height: 5vh;
    margin-top: 7px;
    margin-left: -2px;
    font-size: 15px;


}

.searchicon {
    margin-left: -27px;
    margin-top: 12px;
    border-radius: 5px;
}

@media (max-width: 690px) {
    .searchbox {
        display: none;
    }

    .lowerbar {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 470px) {
    .lowerbar {
        display: flex;
        justify-content: space-between;
    }

    .cartbox {
        margin-right: 0px;
    }

    .logo {
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    .logobox img {
        width: 80%;
    }
}