.navbar {
    border: 2px solid orange;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #f0dd0c;
}

.navbar li {
    list-style: none;
    padding: 6px 29px ;
    margin: 2px 0px;
    border-right: 1px solid;
    background-color: #f0dd0c;
    text-align: center;
}
#last{
    border: none;
}
