.topbar {
    /* border: 2px solid red; */
    display: flex;
    width: 100vw;
    height: 5vh;
    background-color: black;
    color: white;
}

.phno {
    /* border: 2px solid blue; */
    width: 20vw;
    text-align: center;

}

.timing {
    /* border: 2px solid green; */
    width: 40vw;
    text-align: center;

}

.sidebox {
    /* border: 2px solid purple; */
    width: 39vw;
    margin-top: 5px;


}

.phone {
    filter: invert(100);
    margin-top: 6px;
}

.clock {
    margin-top: 6px;
}

.topnav {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.topnav li {
    border-right: 1px solid rgb(102 98 98);
    padding-right: 20px; 
}
#login{
    border: none;
}